#prevDay, #nextDay {
    width: 0;
    height: 0;
    border-style: solid;
    background: transparent;
    cursor: pointer;
}

#prevDay { /*adjust triangle.. */
    border-width: 15px 20px 15px 0;
    border-color: transparent white transparent transparent;
}

#nextDay {
    border-width: 15px 0 15px 20px;
    border-color: transparent transparent transparent white;
}

/* Day View Container */
#dailyCalendarContainer {
    color: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #2D323F;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* manage task */
#dailyCalendarContainer.hide {
    display: none;
}
#addTaskButton.hide {
    display: none;
}

#manageTaskContainer.hide {
    display: none;
}
#manageTaskContainer{
    display:flex;
    justify-content: center;
}
#manageTask {
    display: flex;
    flex-direction: column;
    width: 40%;
    border: 1px solid white;
    color: white;
}
#description, #startTime,#date {
    cursor: pointer;
}
#updateTaskButton.hide {
    display: none;
}
#updateTaskButton {
    width: 20%;
    margin-left: 40%;
    margin-top: 5px;
}
#close {
    margin-left: auto;
    border-width: 0px;
    background-color: #2D323F;
    color: white;
    text-shadow: 1px 0px;
    cursor: pointer;
}
/* ---------------- */
#timeline {
    width: 700px;
    position: relative;
    padding-left: 50px;
    border-left: 2px solid #3A4153;
}

/* Time Slot Styling */
#timeline .time-slot {
    position: relative;
    margin-bottom: 20px;
}

#timeline .time-slot::before {
    content: "";
    position: absolute;
    top: 0;
    left: -67px;
    width: 12px;
    height: 12px;
    background-color: #3b5998;
    border-radius: 50%;
    border: 10px solid #2D323F;
    z-index: 2;
}

#timeline .time-slot .hour {
    font-family: 'Kadwa', serif;
    font-size: 1.2em;
    color: #B0BEC5;
    left: -40px;
    top: -5px;
}

#timeline .time-slot .task {
    background-color: #3A4153;
    padding: 15px;
    border-radius: 5px;
    margin-left: 170px;
    margin-right: 190px;
    margin-bottom: 5px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

#timeline .time-slot .task:hover {
    background-color: #4A5163;
}

/* Add Task Button */
#addTaskButton {
    background-color: #3b5998;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    margin: 20px auto 0;
    display: block;
    transition: background-color 0.3s ease;
}

#addTaskButton:hover {
    background-color: #2a4371;
}

/* Scrollable Day View */
#dailyCalendarContainer {
    max-height: 600px;
    overflow-y: auto;
}
