
.content {
    display: flex;
    /* border: 1px solid yellow; */
    height:500px;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
#mainHeading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:5px;
}
h1 {
    color: white;
    font-family: 'Jersey 10' , serif;
    font-weight: 400;
    margin: 5px;
    font-size: 65px;
}
#pEssential {
    display: flex;
    color: white;
    font-family: Helvetica, sans-serif,serif;
    font-size: small;
}
#createBtn {
    display: flex;
    color: white;
    padding: 5px 20px;
    width: fit-content;
    border-radius: 15px;
    border-width: 0;
    background-color: #7E221F;
    font-size: large;
    margin-top: 10px;
}